<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrow">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div>
    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="narrow.search">
    </div>
    <div class="form-group narrow-button">
      <button ng-click="narrow.narrowMenu()" class="btn btn-primary">Narrow It Down For Me!</button>
    </div>
    </div>
    <!-- <ol style="float:left;">
      <li ng-repeat="item in narrow.found track by $index">{{item.name}} <button ng-click="narrow.removeItem($index)" class="btn btn-primary">Remove Me!</button></li>
    </ol> -->
    <!-- found-items should be implemented as a component -->
    <found-items on-remove="...."></found-items>
  </div>

</body>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</html>
